@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-container{
  background-color:#F59C4B;
}

.search-button{
  background-color: #E7E2E2;
}

.header-right-content{
  font-family: 'Inter', sans-serif;
}

.slider-button{
  background-color: 
  #F59C4B;
}

.opportunities-title{
  font-family: 'Lato', sans-serif;
}

.product-name{
  font-family: 'Montserrat', sans-serif;
}

.homePage{
  color: red;
}

.slide{
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.icon{
  width: 25px;
  height: 25px;
}